@media (min-width: 768px) {
  .header {
    padding: 1% 10%;
  }

  .menu-container {
    padding: 0;
  }

  .menu-icon,
  .close-icon {
    display: none;
  }

  .menu-option {
    color: var(--sub-title-color);
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 0;
  }

  .option:hover,
  .option:focus {
    color: var(--main-theme-color);
  }

  .bio {
    padding: 20% 18%;
    background-position: bottom;
    background-image: url('../images/desktop-version/desktop-background.png');
  }

  .intro {
    font-size: 48px;
    color: #091e42;
    letter-spacing: 0.37px;
    width: 50%;
  }

  .portfolio-card {
    padding: 10%;
    gap: 142px;
  }

  .project-container {
    grid-template-columns: 1fr 1fr;
    border-radius: 24px;
    gap: 24px;
  }

  .about-project {
    padding: 24px;
    gap: 24px;
  }

  .tags ul {
    margin: 0;
  }

  .project-img-container {
    padding: 0 24px;
  }

  .project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .modal-img-size {
    height: 486px;
  }

  #footer {
    padding: 0 24px;
  }

  .project-container:nth-child(odd) .project-img-container {
    order: 1;
  }

  .project-container:nth-child(1) img {
    content: url(../images/desktop-version/project-1.png);
  }

  .project-container:nth-child(2) img {
    content: url(../images/desktop-version/project-2.png);
  }

  .project-container:nth-child(3) img {
    content: url(../images/desktop-version/project-3.png);
  }

  .project-container:nth-child(4) img {
    content: url(../images/desktop-version/project-4.png);
  }

  .project-description-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 39px 24px;
  }

  .about-container {
    grid-template-columns: 40% 1fr;
    padding: 10%;
    gap: 25px;
  }

  .bio-desc {
    font-size: 1rem;
    line-height: 28px;
    color: #344563;
    width: 97%;
  }

  .skill-content>ul {
    display: flex;
    gap: 12px;
  }

  .skill-content ul li {
    flex-direction: column;
    width: 98px;
  }

  .skill-content ul li p {
    font-size: 15px;
    font-weight: 500;
  }

  .skill-list-container {
    padding: 0 5%;
  }

  .skill-title h3 {
    color: var(--skill-text-color);
  }

  .contact-background-image {
    background-image: url(../images/desktop-version/contact-background.png);
    padding: 80px;
  }

  .contact-subcontainer {
    background-image: url(../images/desktop-version/contact-background.png);
    padding: 80px;
  }

  .contact-desc,
  .contact-form,
  textarea {
    width: 39%;
    justify-content: center;
    align-items: center;
  }

  .contact-form input,
  textarea {
    border-radius: 0;
    width: 77%;
  }

  .error {
    width: 77%;
  }
}
